@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

@font-face {
  font-family: 'McLaren';
  font-style: normal;
  font-weight: 400;
  src: local('McLaren'), local('McLaren-Regular'), url(http://themes.googleusercontent.com/static/fonts/mclaren/v1/h-YmANpv0wVrTiywvwSdPg.woff) format('woff');
}

/**
 * Main style file, contains all page styles, on top of the bootstrap css
 *
 * @author D. Tiems (dennis-at-bigbase-dot-nl)
 * @version 1.1.0 - May 20th 2013
 */

/* Specific fonts */
* {
  font-family:arial, sans-serif;
}
h1,h2,h3,h4 {
  font-family:'Ubuntu', sans-serif;
}
h5,h6 {
  font-family:'McLaren', cursive;
  color:#999;
}

/* Always use nice dots for password fields */
input[type=password] {
  font-family:verdana !important;
}

/* Fix for fluid input height in bootstrap 2.1.0 */
.row-fluid input[class*='span'] {
  min-height:20px;
}

/* Print adjustments */
@media screen {
  .print-show {
    display:none !important;
  }
}
@media print {
  * {
    font-family:Arial !important;
  }
  .print-hide {
    display:none !important;
  }
}

/* Message overlay background */
.modal-backdrop {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* Different icons */
[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings.png");
}
.icon-white,
.main-nav.navbar .nav > li > a:hover i,
.main-nav.navbar .nav > .active > a i,
.main-nav.navbar .nav > .active > a:hover i,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* Page and menu layout */
.header-shadow {
  position:absolute;
  width:100%;
  overflow:hidden;
  height:40px;
  -moz-box-shadow: 0 0 10px #999;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
}
.header-action {
  margin:10px 0 0 10px;
}
.header-search {
  margin:auto;
}
.navbar .nav>li>.dropdown-menu:after, 
.navbar .nav>li>.dropdown-menu:before,
.navbar .nav>li>.dropdown-menu {
    content: none !important;
}
.navbar .nav>li>.dropdown-menu {
  margin:-5px 0 0 10px;
  border:none;
  padding:0;
}
.navbar .nav>li>.dropdown-menu li {
  margin-top:5px;
  margin-bottom:5px;
}
.header-nav .nav li {
  font-size:12px;
}
.header-nav.navbar .nav > .active > a, 
.header-nav.navbar .nav > .active > a:hover, 
.header-nav.navbar .nav > .active > a:focus {
  background-color:transparent;
  color:#000;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.header-search-nav .nav li {
  font-size:12px;
}
.header-search-nav.navbar .nav > .active > a, 
.header-search-nav.navbar .nav > .active > a:hover, 
.header-search-nav.navbar .nav > .active > a:focus {
  background-color:transparent;
  color:#000;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.main-nav.navbar .nav > li > a {
  text-shadow:none;
}
.main-nav.navbar > .navbar-inner > .container > a.btn-navbar {
  background-image:none;
  background-color:#3a87ad;
  padding:4px 13px 4px 13px;
  margin-bottom:5px;
}
.main-nav.navbar .nav > .active > a,
.main-nav.navbar .nav > li > a:hover,
.main-nav.navbar .nav > .active > a:hover {
  background-color:#3a87ad;
  color:#fff;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
.main-nav.navbar .nav > .active > a > .caret,
.main-nav.navbar .nav > li > a:hover > .caret,
.main-nav.navbar .nav > .active > a:hover > .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.dropdown-content {
  /* For using a div in a dropdown to show some info */
  padding:5px 5px 5px 20px;
  width:200px;
}
.dropdown-content-wide {
  width:300px;
}
.dropdown-content form,
.dropdown-content address {
  padding:0;
  margin:0;
}
.social-icons {
  padding:20px 0 0 10px;
  width:120px
}
.input-micro {
  width:20px;
  text-align:center;
}
td[align="right"] {
  /* Reset to correct value */
  text-align:right;
}
td[align="center"] {
  /* Reset to correct value */
  text-align:center;
}
.dropdown-menu small.label {
}

/* Article style */
.article img {
  float:right;
  width:40%;
}

/* Product lists */
.product-list-inline-small {
}
.product-list-inline-small .price {
  font-size:125%;
  padding:5px 10px 5px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Use for rotating price (IE9+) */
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -o-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
}
.product-list-inline-large {
}
.product-list-inline-large .thumbnail {
  padding:10px;
  border:none;
}
.product-list-inline-large .thumbnail.light {
  background-color:#eee;
}
.product-list-inline-large .thumbnail.dark {
  background-color:#ccc;
}
.product-list-inline-large .thumbnail .price {
  font-size:200%;
  line-height:150%;
  position:absolute;
  z-index:10;
  margin-left:-15px;
  margin-top:-10px;
  width:115px;
  text-align:center;
  padding-left:5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Use for rotating price (IE9+) */
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -o-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
}
.product-list-inline-large .thumbnail .price.price-over {
  /* Use for rotating price (IE9+) */
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -o-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
}
.product-list-inline-large .thumbnail .price sup {
  font-size:60%;
}
.product-list-inline-large .thumbnail .caption {
  text-align:center;
}
.product-list-inline-large .thumbnail .btn-block {
  margin:0 0 -20px 0;
}

/* Product detail */
.product-detail .price {
  font-size:400%;
  line-height:150%;
  position:absolute;
  z-index:10;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Use for rotating price (IE9+) */
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
}

/* Order process */
#step1 table tr td:first-child > img {
  max-width:75px;
}
#comments {
  width:90%;
}

/* Footer links */
.footer ul.unstyled {
  font-size:80%;
}
.footer .footer-title {
  font-weight:bold;
}

/* Google Maps */
.googlemap {
  height:300px;
  width:100%;
}

/* Forms */
.help-block {
  font-style:italic;
  color:#999;
}